@import "Normalize.css";
@import "reset.css";

body{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
body h2{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    position: relative;
}
.contain-b2{
    display: flex;
    justify-content: center;
    padding: 35px 0;
}
#button2{
    background: linear-gradient(#b94eb4 ,#a45cdc);
    border: none;
    border-radius: 31px;
    box-shadow: 0px 5px 20px #999;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 45px;
    width: 50%;
    position: relative;
  }
body #button2:hover::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4);
    border-radius: 31px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.808);
    z-index: 2000;
    cursor: pointer;
}
body h2:after{
    content: ' ';
    display: flex;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #99E2D0;
    z-index: 200;
    bottom: -5px;
    left: 0px;
}
@media screen and (min-width:768px) and (max-width: 1023px){
    main{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        justify-content: center;
        margin: auto;
    }
}
@media  screen and (min-width:1024px) {
    main{
        max-width: 1440px;
        margin: auto;
    }
}
    