.card{
    font-family: 'Roboto', sans-serif;
    display: flex;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    margin: 10px;
    cursor: pointer;
}
.card-description{
    display: flex;
    width: 96%;
    justify-content: space-between;
    padding: 5px 8px;
}
.card h3{
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 115%;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px;
}

.para{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}
.card p{
    font-size: 90%;
    padding-top: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.sous-titre{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    display: flex;
    font-weight: 700;
    align-items: flex-end;
    padding-right: 7px;
    padding-bottom: 5px;
    z-index: 2;
}
.survolcard{
    display: flex;
    background-color: #99E2D0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.price {
    width: 25px; 
}
.circle-check{
    display: flex;
    filter: invert(1);
    opacity: 0;
    position: absolute;
    width: 20px;
    right: 30%;
    top: 40%;
}
.card:hover .card-description{
    animation: smallpara 1s linear forwards;
}
@keyframes smallpara{
    0%{
        width: 100%;
    }
    100%{
        width: 75%;
    }
}
.card:hover .survolcard {
    animation: greenfly 1s linear forwards; 
}
.card:hover .circle-check {
    animation: greenfly2 1s  linear forwards; 
    transform-origin: center center;
}

@keyframes greenfly{
    0% { 
        width: 0; 
        opacity: 0;
    }
    20% { 
        width: 4%;
         opacity: 0.2;
    }
    50%{
        width: 10%;
        opacity: 0.6;
    }
    100%{ 
        width : 20%;
        opacity : 1;
        transform-origin: -30px; 
    }
}
@keyframes greenfly2{
    0% { 
        opacity: 0;
        transform:  rotate(0turn);
    }
    25% { 
         opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{ 
        opacity : 1;
        transform: rotate(1turn);
    }
}