@import "Normalize.css";
@import "reset.css";

.card{
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: relative;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    margin: 10px;
    cursor: pointer;
}

.card:hover > .survolcard{
    content: ' ';
    transform: translateX(-20%);
    background-color: #99E2D0;
    height: auto;
    width: 20%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
}
.card:hover > .circle-check:{
    filter: invert(1);
    font-size: 140%;
    z-index: 5055;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-description{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.card h3{
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 115%;
    font-weight: bold;
}
.para{
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
}
.card p{
    font-size: 90%;
    padding-top: 7px;
}/*
.survolcard:hover{
    content: ' ';
    transform: translateX(-20%);
    background-color: #99E2D0;
    height: auto;
    width: 20%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}*/

.sous-titre{
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    display: flex;
    font-weight: 700;
    align-items: flex-end;
    padding-right: 5px;
}
