@import "Normalize.css";
@import "reset.css";

.card{
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: relative;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    margin: 10px;
    cursor: pointer;
}
.card-description{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 3px;
}
.card h3{
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 115%;
    font-weight: bold;
    display: flex;
}

.para{
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}
.card p{
    font-size: 90%;
    padding-top: 7px;
}

.sous-titre{
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    display: flex;
    font-weight: 700;
    align-items: flex-end;
    padding-right: 7px;
    padding-bottom: 5px;
    z-index: 2;
}
.survolcard{
    display: flex;
    background-color: #99E2D0;
    width: 0%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    right: 0;
    position: relative;

}
.card:hover .survolcard {
    animation: greenfly 1s linear forwards; 
}
.card:hover .circle-check {
    animation: greenfly 1s linear forwards; 
}
.circle-check{
    display: flex;
    align-items: center;
    filter: invert(1);
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
@keyframes greenfly{
    0% { 
        width: 0; 
        opacity: 0;
    }
    20% { 
         opacity: 0.2;
    }
    50%{
        opacity: 0.6;
    }
    100%{ 
        width : 20%;
        opacity : 1;
    }
}