.roboto-foot{
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer li {
    color: white;
    padding-bottom: 10px;
}
footer{
    width: 100%;
    background-color: rgba(2, 2, 2, 0.80);
    padding-bottom: 20px;
}
footer img{
    width: 40%;
    padding: 23px 0 15px 23px;
    filter: invert(1);
}
#foot-menu{
    padding-left:  23px;
}
.foot-icone{
    padding-right: 10px;
}
#hand{
    font-size: 80%;
}
@media screen and (min-width:768px){
    body footer{
        max-width: 1024px;
        margin: auto;
    }
    #foot{
        display: flex;
        flex-direction: column;
    }

    #foot img{
        max-width: 35%;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
        filter: invert(1);
    }
    footer ul{
        display: flex;
        max-width: 90%;
        margin: auto;
        justify-content: space-around;
        margin-bottom:  30px;
    }
    footer ul li{
        display: flex;
    }
    .foot-icone{
        padding-right: 10px;
    }

}
/*@media screen and (min-width: 1023px){
    .roboto-foot{
        font-size: 15px;
    }
    footer ul{
        padding-bottom: 40px;
    }
    footer{
        max-width: 1024px;
        width: auto;
    }
}
*/
