#loader{
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    background-color:grey;
    z-index: 500;
    animation: loader-grey 3s forwards;        
}
#spinner{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-bottom:10px solid blue;
    border-top:10px solid red;
    border-right:10px solid yellow;
    border-left:10px solid green;
    z-index: 501;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: spin 2s linear infinite forwards;
}


@keyframes loader-grey{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -200;
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}