@import "Normalize.css";
@import "reset.css";

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cadre-image img{
    display: flex;
    justify-content: center;
    width:  100%;
    margin: 0;
    overflow: visible;
}
.presentation{
    display: flex;
    flex-direction: column;
    position: relative;
}
.favoris{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f6f6f6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: absolute;
    bottom: -2px;
}
.coeur {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 25px;
    padding-bottom: 7px;
}
.heart{
    font-size: 150%;
    position: absolute;
    right: 20px;
    bottom: 0px;
}
.heartcolor{
    opacity: 0;
    font-size: 150%;
}
.hearts:hover .heartcolor{
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 0;
    color: #9356DC;
    opacity: 1;
    transition: 2s;
}
.presentation h1{
    font-weight: 400;
    font-family: 'Shrikhand', cursive;
    font-size: 180%;
    padding:40px 0 0px 15px;
 }
@media screen and (min-width:768px){
    .cadre-image{
        width: 90%;
        margin: auto;
        box-shadow: 20px -10px 10px #999;
    }
    .favoris{
        box-shadow: 5px -10px 10px -1px #999;
    }
    .orga{
        display: flex;
        flex-wrap: wrap;
    }
    .menu{
        width: 48%;
    }
    .desserts{
        margin: auto;
        width: 55%;
    }
}
@media screen and (min-width:1025px){

    .cadre-image{
        max-width: 40%;
    }
    .presentation{
        max-width: 1024px;
        margin:auto;
    }
    .orga{
        max-width: 1024px;
        margin: auto;
    }
}