    .roboto{
        font-family: 'Raleway', sans-serif;
      }
    
    #presentation {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #localisation{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        background: #e9e9e9;
        box-shadow: inset 0px 4px 4px -3px rgb(0 0 0 / 25%);
        padding: 5% 5%;
    }
    #recherche::placeholder { 
        text-align: center;
     }
    .forme{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    main input{
        border-width: 0;
    }
    #description{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f6f6f6;
    }
    #description p{
        display: flex;
        justify-content: center;
    }
    #recherche{
        background: #e9e9e9;
        max-width: 50%;
    }
    #reserv{
        margin-top: 40px;
        text-align: center;
    }
    #reserv h1{
        font-weight: bold;
        font-size: 150%;
        max-width: 80%;
        text-align: center;
        margin: auto;
    }
    #reserv p{
        padding-top: 20px;
        font-weight: 500;
        color: #353535;
    }
    #button1{
        background: linear-gradient(#b94eb4 ,#a45cdc);/* Green */ 
        border: none;
        border-radius: 31px;
        box-shadow: 0px 5px 20px #999;
        color: white;
        padding: 18px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 70%;
        position: relative;
        margin: 40px 0 50px 0;
        transition: 1.5s;
      }
      body #button1:hover{
        opacity: 0.8;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.938);
        cursor: pointer;
    }
    #but1{
        font-size: 90%;
        font-weight: 500;
        white-space: nowrap;
    }
    @media screen and (min-width: 1023px){
        #reserv h1{
            max-width: 100%;
        }
        #presentation{
            max-width: 1024px;
            margin: auto;
        }
    }