main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cadre-image img{
    display: flex;
    justify-content: center;
    width:  100%;
    margin: 0;
    overflow: visible;
}
.presentation{
    display: flex;
    flex-direction: column;
    position: relative;
}
.favoris{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f6f6f6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: absolute;
    bottom: -2px;
}
.heart{
    font-size: 24px;
    position: absolute;
    right: 20px;
    bottom: 0px;
}
.heartcolor{
    position: absolute;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right bottom, pink, purple);
    right: 20px;
    bottom: 0px;
    opacity: 0;
    font-size: 24px;
    transition: opacity 2s;
}
.hearts:hover .heartcolor{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right bottom, pink, purple);
    opacity: 1;
}
.menu{
    opacity: 0;
}
.entrees{
    animation: menu 3s forwards
}
.plats{
    animation: menu 3s  2s forwards;
}
.desserts{
    animation: menu 3s 4s forwards;
}
.presentation h1{
    font-weight: 400;
    font-family: 'Shrikhand', cursive;
    font-size: 160%;
    padding:40px 0 0px 15px;
 }
 @keyframes menu{
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
 }
 
@media screen and (min-width:768px){
    .cadre-image{
        width: 90%;
        margin: auto;
        box-shadow: 20px -10px 10px #999;
    }
    .favoris{
        box-shadow: 5px -10px 10px -1px #999;
    }
    .orga{
        display: flex;
        flex-wrap: wrap;
    }
    .menu{
        width: 35%;
        margin: auto;
    }
    .desserts{
        margin: auto;
    }

}
@media screen and (min-width:1025px){

    .cadre-image{
        max-width: 40%;
    }
    .presentation{
        max-width: 1024px;
        margin:auto;
    }
    .orga{
        max-width: 1024px;
        margin: auto;
    }
    
}